# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-egg/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheeley/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs folder
logs/

# DS_store
.DS_store

# Exclude nc files
*.nc
# Exclude png

# End of .gitignore

/CH_data/preprocessed_P_data/P_combined_1998_2023.csv
/CAMELS_SW/output_plots/
/CAMELS_SW/output_plots_TP_adjust/
